.app-btn {
  &--primary {
    color: $white;
    background: $primary;
    border: 1px solid $primary;

    &:hover {
      color: $white;
    }
  }

  &--light {
    color: $body;
    background: $light;
    border: 1px solid $light;
  }

  &--secondary {
    color: $body;
    background: $secondary;
    border: 1px solid $secondary;
  }
}
